<!-- layout/navbar/navbar.component.html -->
<nav class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100 position-fixed" style="width: 250px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">TravelAgent</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/sales" class="nav-link text-dark">
          Sales
        </a>
      </li>
      <li>
        <a routerLink="/bookings" class="nav-link text-dark">
          Bookings
        </a>
      </li>
      <li>
        <a routerLink="/agents" class="nav-link text-dark">
          Agents
        </a>
      </li>
      <li>
        <a routerLink="/suppliers" class="nav-link text-dark">
          Suppliers
        </a>
      </li>
    </ul>
  </nav>