<div class="main-scroll">
  <div *ngIf="isLoading; else content">
    <app-loading></app-loading>
  </div>
  <ng-template #content>
    <div class="container-fluid">
      <div class="container mt-4 card">
        <div class="card-header mt-3">
          <h4>Customers</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" id="table-container">
            <table
              class="table table-stripped table-hover align-middle table-sm"
            >
              <thead class="table-primary">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Lastame</th>
                </tr>
              </thead>

              <tbody>
                @for (customer of customerList; track $index) {
                <tr
                  (click)="goToDetails(customer.id)"
                  tabindex="0"
                  (keydown.enter)="goToDetails(customer.id)"
                  (keydown.space)="goToDetails(customer.id)"
                >
                  <td>{{ customer.name }}</td>
                  <td>{{ customer.lastname }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
