<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Register at Travel Agent</h3>
      <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName"
            placeholder="Enter your name"
            [ngClass]="{
              'is-invalid': submitted && registerForm.controls['firstName'].invalid
            }"
          />
          @if(submitted && registerForm.controls['firstName'].errors){

          <div class="invalid-feedback">Name is required.</div>
          }
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Lastname</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            formControlName="lastName"
            placeholder="Enter your lastName"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['lastName'].invalid
            }"
          />
          @if(submitted && registerForm.controls['lastName'].errors){

          <div class="invalid-feedback">Lastname is required.</div>
          }
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter your email"
            [ngClass]="{
              'is-invalid': submitted && registerForm.controls['email'].invalid
            }"
          />
          @if(submitted && registerForm.controls['email'].errors){

          <div class="invalid-feedback">
            Email is required and must be valid.
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Enter your password"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['password'].invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="submitted && registerForm.controls['password'].errors"
          >
            Password is required.
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <a routerLink="/forgot-password" class="small text-decoration-none"
            >Forgot password?</a
          >
        </div>
        <div class="mb-3">
          <label for="agencyName" class="form-label">Agency Name</label>
          <input
            type="text"
            id="agencyName"
            class="form-control"
            formControlName="agencyName"
            placeholder="Enter Agency Name"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['agencyName'].invalid
            }"
          />
          @if(submitted && registerForm.controls['agencyName'].errors){

          <div class="invalid-feedback">
            Agency Name is required and must be valid.
          </div>
          }
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>

      <div class="text-center mt-3">
        <span class="text-muted">Already registered?</span>
        <a
          routerLink="/login"
          class="ms-1 text-primary text-decoration-none"
          style="cursor: pointer; text-decoration: none"
        >
          Login to your account
        </a>
      </div>
    </div>
  </div>
</div>
