<div class="container-fluid">
  <div class="container mt-4 card">
    <div class="card-header mt-3">
      <h4>Agents</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive" id="table-container">
        <table class="table table-stripped table-hover align-middle table-sm">
          <thead class="table-primary">
            <tr>
              <th scope="col">#Id</th>
              <th scope="col">Name</th>
              <th scope="col">Lastame</th>
              <th scope="col">Username</th>
            </tr>
          </thead>

          <tbody>
            @for (agent of agentList; track $index) {
            <tr>
              <td>{{ agent.id }}</td>
              <td>{{ agent.name }}</td>
              <td>{{ agent.lastname }}</td>
              <td>{{ agent.username }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
